In [2]:
import pandas as pd
import numpy as np

In [5]:
qt = pd.read_csv("C:/Users/shrof/question_tags.csv")
q = pd.read_csv("C:/Users/shrof/questions.csv")

In [6]:
"""
This is a skeleton of Assignment 1 for DS5110/CS5501 Spring 2024 (UVA).
NOTE you will need to change the .ipynb file name by following the naming convention.
Code should be commented well. 
Feel free to import any missing packages or add extra cells as you see fit. 
"""
import dask
from dask.distributed import Client
import dask.dataframe as dd
import time
import json
import numpy as np

In [ ]:
# TODO: fill out the private IP address of your Dask scheduler and port here when creating a Dask client object
client = Client('<Private_IP_of_Dask_Scheduler>:8786')
client = client.restart()
print(client)

In [ ]:
%%time

# You should have already extracted the two .CSV files from stackoverflow.zip
# Load the .CSV files into the Dask dataframes
questions = dd.read_csv('/home/ubuntu/questions.csv', sample=2**30, assume_missing=True)
question_tags = dd.read_csv('/home/ubuntu/question_tags.csv', sample=2**30, assume_missing=True)

In [8]:
%%time
# Task 1

# TODO: Start your implementation below this line
q

CPU times: total: 0 ns
Wall time: 0 ns

,Id,CreationDate,ClosedDate,DeletionDate,Score,OwnerUserId,AnswerCount
0,1,2008-07-31T21:26:37Z,NaN,2011-03-28T00:53:47Z,1,NaN,0.0
1,4,2008-07-31T21:42:52Z,NaN,NaN,458,8.0,13.0
2,6,2008-07-31T22:08:08Z,NaN,NaN,207,9.0,5.0
3,8,2008-07-31T23:33:19Z,2013-06-03T04:00:25Z,2015-02-11T08:26:40Z,42,NaN,8.0
4,9,2008-07-31T23:40:59Z,NaN,NaN,1410,1.0,58.0
...,...,...,...,...,...,...,...
17203819,42058740,2017-02-05T23:59:25Z,NaN,NaN,-2,7520803.0,NaN
17203820,42058743,2017-02-05T23:59:59Z,NaN,NaN,0,7056165.0,NaN
17203821,42066637,2017-02-04T20:16:32Z,NaN,NaN,-1,3357935.0,NaN
17203822,42067058,2017-02-05T17:04:16Z,NaN,NaN,0,356083.0,NaN
17203823,42069071,2017-02-05T22:35:16Z,NaN,NaN,0,7476349.0,NaN

In [11]:
qt

                Id                  Tag
0                1                 data
1                4                   c#
2                4             winforms
3                4      type-conversion
4                4              decimal
...            ...                  ...
50576837  42067058  amazon-web-services
50576838  42067058                 java
50576839  42067058    amazon-cloudfront
50576840  42069071                    r
50576841  42069071           regression

[50576842 rows x 2 columns]

In [9]:
percent_missing = q.isnull().sum() * 100 / len(q)
percent_missing = qt.isnull().sum() * 100 / len(qt)

In [10]:
percent_missing

Id               0.000000
CreationDate     0.000000
ClosedDate      89.973578
DeletionDate    76.962907
Score            0.000000
OwnerUserId     23.920885
AnswerCount     10.114036
dtype: float64

In [ ]:
%%time
# Task 2

# TODO: Start your implementation below this line

q['Score'].mean()
q['Score'].std()
q['Score'].max()
q['Score'].min()
q['Score'].median()

In [14]:
%%time
# Task 3

# TODO: Start your implementation below this line
qt['Tag'].mode()

CPU times: total: 3.17 s
Wall time: 6.02 s

0    javascript
Name: Tag, dtype: object

In [15]:
qt['Tag'].value_counts()[:5].index.tolist()

['javascript', 'java', 'php', 'c#', 'android']

In [ ]:
%%time
# Task 4

# TODO: Start your implementation below this line